# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.DS_Store

# Logs
*.log

# YOLOv5 stuff
runs/
yolov5/data/
yolov5/weights/
*.rbln

# IDE
.vscode/
.idea/

# video
backend/static/temp_videos/