fastapi==0.104.1
uvicorn==0.24.0

torch==2.0.1
torchvision==0.15.2

numpy==1.26.4
opencv-python==4.9.0.80
pillow==12.0.0

python-multipart==0.0.6
requests==2.32.5
tqdm==4.67.1
ultralytics==8.3.231
pandas==2.3.3
seaborn==0.13.2
gitpython==3.1.45
setuptools>=70.0.0